about-time==4.2.1
aioboto3==14.3.0
aiobotocore==2.22.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioitertools==0.12.0
aioredis==1.3.1
aioredlock==0.7.3
aiosignal==1.4.0
alembic==1.16.5
alive-progress==3.3.0
annotated-types==0.7.0
anthropic==0.72.0
anyio==4.11.0
asttokens==3.0.0
async-timeout==5.0.1
asyncache==0.3.1
asyncpg==0.30.0
attrs==25.4.0
Authlib==1.6.5
azure-core==1.35.1
azure-identity==1.25.1
azure-keyvault==4.2.0
azure-keyvault-certificates==4.10.0
azure-keyvault-keys==4.11.0
azure-keyvault-secrets==4.10.0
azure-storage-blob==12.26.0
babel==2.17.0
backoff==2.2.1
beautifulsoup4==4.13.3
boto3==1.37.3
botocore==1.37.3
botocore-stubs==1.40.33
browser-use==0.9.5
browserbase==1.4.0
bubus==1.5.6
bytecode==0.17.0
cachetools==5.5.2
cdp-use==1.4.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
chevron==0.14.0
click==8.3.0
cloudpickle==3.1.2
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.3
courlan==1.3.2
cryptography==46.0.2
curlparser==0.1.0
cyclopts==3.24.0
Cython==3.1.3
dateparser==1.2.2
ddtrace==2.21.11
decorator==5.2.1
defusedxml==0.7.1
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
docutils==0.22.2
dramatiq==1.18.0
ecdsa==0.19.1
email-validator==2.3.0
envier==0.5.2
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.1
fastapi==0.115.14
fastmcp==2.12.4
fastuuid==0.13.5
filelock==3.19.1
filetype==1.2.0
flatbuffers==25.9.23
frozenlist==1.8.0
fsspec==2025.9.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.2
google-api-python-client==2.181.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-aiplatform==1.91.0
google-cloud-bigquery==3.38.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.14.2
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-genai==1.45.0
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
graphemeu==0.7.2
greenlet==3.2.4
groq==0.31.1
grpc-google-iam-v1==0.14.2
grpcio==1.75.1
grpcio-status==1.71.2
h11==0.16.0
halo==0.0.31
hf-xet==1.1.10
hiredis==3.2.1
html2text==2025.4.15
htmldate==1.9.3
httpcore==1.0.9
httplib2==0.30.0
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.2
huggingface-hub==0.35.3
humanfriendly==10.0
idna==3.10
importlib_metadata==8.7.0
inflection==0.5.1
inquirerpy==0.3.4
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isodate==0.7.2
jambo==0.1.0.post3
jedi==0.19.2
Jinja2==3.1.6
jiter==0.11.0
jmespath==1.0.1
json_repair==0.34.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-path==0.3.4
jsonschema-specifications==2025.9.1
jupyterlab_widgets==3.0.15
jusText==3.0.2
langchain-anthropic==0.3.3
langchain-core==0.3.54
langchain-google-genai==2.1.3
langchain-groq==0.3.2
langchain-mistralai==0.2.10
langchain-ollama==0.2.2
langchain-openai==0.3.1
langchain-together==0.3.0
langsmith==0.3.15
lark==1.3.0
lazy-object-proxy==1.12.0
libcst==1.8.5
litellm==1.74.15.post2
llamux==0.1.9
lmnr==0.7.17
log-symbols==0.0.14
loguru==0.7.3
lxml==5.4.0
lxml_html_clean==0.4.2
MainContentExtractor==0.0.4
Mako==1.3.10
markdown-it-py==4.0.0
markdown-pdf==1.5
markdownify==1.2.0
MarkupSafe==3.0.3
matplotlib-inline==0.1.7
mcp==1.12.4
mdurl==0.1.2
monotonic==1.6
more-itertools==10.8.0
mpmath==1.3.0
msal==1.34.0
msal-extensions==1.3.1
multidict==6.7.0
mypy==1.18.2
mypy_extensions==1.1.0
nest-asyncio==1.6.0
nexus-rpc==1.1.0
notte==1.7.5
notte-agent==1.7.5
notte-browser==1.7.5
notte-core==1.7.5
notte-sdk==1.7.5
numpy==2.3.3
oauthlib==3.3.1
ollama==0.5.3
onepassword-sdk==0.3.0
onnxruntime==1.22.1
openai==1.109.1
openapi-core==0.19.5
openapi-pydantic==0.5.1
openapi-schema-validator==0.6.3
openapi-spec-validator==0.7.2
openpyxl==3.1.5
opentelemetry-api==1.37.0
opentelemetry-exporter-otlp==1.37.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-grpc==1.37.0
opentelemetry-exporter-otlp-proto-http==1.37.0
opentelemetry-instrumentation==0.58b0
opentelemetry-instrumentation-alephalpha==0.47.3
opentelemetry-instrumentation-bedrock==0.47.3
opentelemetry-instrumentation-chromadb==0.47.3
opentelemetry-instrumentation-cohere==0.47.3
opentelemetry-instrumentation-crewai==0.47.3
opentelemetry-instrumentation-haystack==0.47.3
opentelemetry-instrumentation-lancedb==0.47.3
opentelemetry-instrumentation-langchain==0.47.3
opentelemetry-instrumentation-llamaindex==0.47.3
opentelemetry-instrumentation-marqo==0.47.3
opentelemetry-instrumentation-mcp==0.47.3
opentelemetry-instrumentation-milvus==0.47.3
opentelemetry-instrumentation-mistralai==0.47.3
opentelemetry-instrumentation-ollama==0.47.3
opentelemetry-instrumentation-pinecone==0.47.3
opentelemetry-instrumentation-qdrant==0.47.3
opentelemetry-instrumentation-replicate==0.47.3
opentelemetry-instrumentation-sagemaker==0.47.3
opentelemetry-instrumentation-threading==0.58b0
opentelemetry-instrumentation-together==0.47.3
opentelemetry-instrumentation-transformers==0.47.3
opentelemetry-instrumentation-vertexai==0.47.3
opentelemetry-instrumentation-watsonx==0.47.3
opentelemetry-instrumentation-weaviate==0.47.3
opentelemetry-proto==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
opentelemetry-semantic-conventions-ai==0.4.13
orjson==3.11.3
packaging==25.0
pandas==2.3.3
parse==1.20.2
parso==0.8.5
patchright==1.50.0
pathable==0.4.4
pathspec==0.12.1
pexpect==4.9.0
pfzy==0.3.4
pillow==12.0.0
playwright==1.55.0
portalocker==2.10.1
posthog==3.25.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.0
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.1.0
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg-pool==3.2.6
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.0
pydantic-settings==2.11.0
pydantic_core==2.41.1
pyee==13.0.0
Pygments==2.19.2
PyJWT==2.10.1
PyMuPDF==1.25.3
pyobjc-core==11.1
pyobjc-framework-Cocoa==11.1
pyotp==2.9.0
pyparsing==3.2.3
pypdf==5.9.0
pyperclip==1.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.18
pytz==2025.2
PyYAML==6.0.3
redis==5.3.1
referencing==0.36.2
regex==2025.9.18
reportlab==4.4.4
requests==2.32.5
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
RestrictedPython==8.0
rfc3339-validator==0.1.4
rich==14.2.0
rich-rst==1.3.1
rpds-py==0.27.1
rsa==4.9.1
s3transfer==0.11.3
scarf-sdk==0.1.2
screeninfo==0.8.1
setuptools==76.1.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
skyvern==0.2.16
sniffio==1.3.1
socksio==1.0.0
soupsieve==2.6
spinners==0.0.24
SQLAlchemy==2.0.43
sse-starlette==3.0.2
stack-data==0.6.3
stagehand==0.5.5
starlette==0.46.2
starlette-context==0.3.6
steel-sdk==0.1.0
stripe==9.12.0
structlog==23.3.0
sympy==1.14.0
temporalio==1.18.1
tenacity==9.1.2
termcolor==3.1.0
tiktoken==0.12.0
tld==0.13.1
tldextract==5.3.0
tokenizers==0.22.1
toml==0.10.2
tqdm==4.67.1
trafilatura==2.0.0
traitlets==5.14.3
typer==0.19.2
types-awscrt==0.27.6
types-boto3==1.40.47
types-boto3-full==1.40.47
types-protobuf==6.32.1.20250918
types-s3transfer==0.13.1
types-toml==0.10.8.20240310
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.5.0
uuid7==0.1.0
uvicorn==0.24.0.post1
uvloop==0.21.0
watchfiles==1.1.0
wcwidth==0.2.14
websockets==15.0.1
Werkzeug==3.1.1
widgetsnbextension==4.0.14
wrapt==1.17.3
xmltodict==1.0.2
yarl==1.22.0
zipp==3.23.0
zstandard==0.23.0
